# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.class

# Environments
.venv/
venv/
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/*
!.streamlit/
!.streamlit/README.md
*.streamlit_secrets

